:root {
    --white: #FFFFFF;
    --dark: #222831;
    --primary: #FFD369;
    --secondary: #222831;
    --tertiary: #393E46;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    background: linear-gradient(to bottom right, var(--secondary), var(--tertiary));
    background-repeat: repeat-y;
    font-family: 'Krub', sans-serif;
    font-family: 'Playfair Display', serif;
    margin: 0;
    color: #EEEEEE;
    
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
}

.nav-bg {
    background-color: var(--tertiary);
    border-radius: 30px;
    overflow: hidden;
    width: 25%;
    margin: 0 auto;
}

.main-nav {
    padding: 1rem;
    
}

.main-nav a {
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
}

.main-nav a:hover {
    color: var(--primary)

}

h1 {
    font-size: 3.8rem;
    color: var(--primary);
    text-align: center;
}

h2 {
    font-size: 2.8rem;
}

.main-box {
    background-color: rgba(169, 169, 169,0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    padding: 1rem;
    border-radius: 15px;
    margin: 5% auto;
    max-width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);

}


.Skills {
    position: absolute;
    bottom: 0;
    right: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
}

.gallery img {
    width: 100%; 
    height: auto; 
}

.icons {
    display: flex;
    flex-direction: row;
}

.soc-but {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, backgrouncolor 0.3 ease;
    /*transition: background-color 0.3s ease;*/
    display: flex;
    align-items: center;

}

.email-but {
    color: var(--white);
}

.email-but:hover {
    color: var(--primary);
}

.soc-but:hover {
    background-color: var(--gray);
}
.description {
    margin-bottom: 1rem;
    font-size: 20px;
}

h3 {
    font-size: 1.8rem;
}
